version: '3.8'

services:
  evolution-api:
    image: atendai/evolution-api:latest
    container_name: evolution-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=https://whatsapp.loyalapp.com.ar
      - AUTHENTICATION_API_KEY=LoyalApp2024SecureKey
      - CORS_ORIGIN=*
      - CORS_METHODS=GET,POST,PUT,DELETE
      - CORS_CREDENTIALS=true
      - DATABASE_ENABLED=false
    volumes:
      - ./evolution_data:/evolution/instances
      - ./evolution_store:/evolution/store
